.account-logo img {
  width: 40px;
  cursor: pointer;
}

.account-logo{
  margin: 10px 35px 0px 20px;
}

.account-bar {
  display: inline-flex;
  align-items: center; 
}

.account-bar div {
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}
