.account-logo img {
  width: 40px;
  cursor: pointer;
}

.account-logo{
  margin: 10px 0px 0px 20px;
}

.likes-logo{
  margin: 10px 35px 0px 20px;
}

.likes-logo img{
  width: 32px;
  cursor: pointer;
}

.account-bar {
  display: inline-flex;
  align-items: center; 
}

.account-bar div {
  font-size: 17px;
  font-weight: 400;
}

.like-picture img{
  width: 35px;
  display: flex;
  cursor: pointer;
}
