.card{
    display: flex;
    align-items:center;
    margin-top: 50px;
    min-height: 220px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius:10px;
    border: 1px solid #1f2937;
    margin-left: 17%;
}

.card-container{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around; /*space-between*/
}

.card-img{
    display: flex;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: #dadada;
    border-radius:5px;
    border:2px solid #1f2937;
}

.card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: sepia(50%);  
}

.card-producer{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    max-width: 12%;
}

.card-body{
    display: flex;
    align-items:center;
    color: #727272;
    font-size: 14px;
}

.card-price{
    font-style: italic;
    font-size: 16px;
}

.card-location{
    display: flex;
    margin-top: auto;
    color: #727272;
    font-size: 12px;
}