
.profile-container{
    display: flex;
    margin-top: 10% ;
    flex-direction: column;
}

.profile-info{
    font-size: 25px;
    margin: 50px 0;
}

.button-edit-profile{
    display: flex;
}

.header-profiler{
    display: flex;
    align-items:center;
    font-size: 27px;
}