
.profile-container{
    display: flex;
    margin-top: 10% ;
    flex-direction: column;
}

.profile-info{
    font-size: 25px;
    margin: 50px 400px;
}

.button-edit-profile{
    display: flex;
}

.header-profiler{
    display: flex;
    justify-content: space-between;
    font-size: 27px;
}

.card-basket{
    cursor: pointer;

    width: 30px;
}

.card-profile {
    position: relative;
}

.card-profile .card-basket {
    position: absolute;
    right: 40px;
    top: 48%;
}