@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap");

html {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f6f4f0 ;
}

div {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  color: #0a6067;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #0a6067;
}

.reg-link a {
  text-decoration: underline;
}

.reg-logo:first-child {
  font-size: 45px;
  font-weight: 600;
  font-family: "Poppins", SemiBold;
  margin-top: -12px;
  text-decoration: none;
  margin-bottom: 25px;

  margin-left: auto;
}

.reg-form h2 {
  font-family: "Poppins", sans-serif;
  line-height: 1.66;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  font-weight: 300;
  color: #1f2937;
  font-size: 36px;
  align-self: center;
  margin-bottom: 40px;
}

.main {
  padding: 4% 0;
}

.reg-container {
  display: flex;
  width: 900px;
  height: 600px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 5px 1px 30px 1px #1f2937;
  border-radius: 20px;
}

.reg-form form {
  display: flex;
  flex-direction: column;
  min-height: 375px;
}
.reg-form {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  margin-left: 80px;
  width: 50%;
  overflow: hidden;
}

.reg-content {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.reg-icon {
  width: 20px;
  position: absolute;
  left: 5px;
  top: 24%;
  transform: translateY(-50%);
  display: inline-block;
}

.image {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 20px;
}

img {
  width: 400px;
}

input {
  border: none;
  background: no-repeat bottom, 50% calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  background-image: linear-gradient(0deg, #0a6067  3px, rgba(10, 96, 103, 0) 0),
    linear-gradient(0deg,#0a6067  1px, hsla(185, 82%, 22%, 0) 0);
}

input:focus {
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  outline: none;
}

.reg-form-group {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.icon {
  position: absolute;
  left: 5px;
  margin-top: 11px;
  top: 50%;
  display: inline-block;
}

.reg-form-input {
  color: rgba(10, 96, 103, 1);
  width: 250px;
  padding: 0 0 8px 35px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.reg-form-input:first-child {
  margin-top: 0;
  padding-top: 0;
}

.reg-link {
  margin-left: 35%;
  margin-bottom: 20px;
  margin-top: auto;
  font-size: 17px;
}

.reg-button {
  display: inline-block;
  background: #dadada;
  color: #1f2937;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  width: 230px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  margin-left: 10%;
  box-shadow: 0 2px 0 #242628;
  transition: 0.3s;
  border: #1f2937 1px solid;
  font-size: 18px;
}

.reg-button:hover {
  background: #19b2e6;
}

.error-valid-massage{
  color: #ff3c3c;
  -webkit-text-stroke: 0.2px #1f2937;
  font-size: 10px;
  padding-left: 25px;
}


